# here we specify files, file types or folder that we want dont want to store on github


map-builder.R

data-prep.R

www/ 

rsconnect/

data/

multilingualShinyApp-master/

examples/

extra/

leaflet-map/

dem-map-tester/

*.Rhistory

.Rproj.user

.Rhistory

.DS_Store